body {
  font-family: "Courier";
}

#header {
  font-size: 24px;
  display: flex;
  justify-content: center;
  /* height: 100px; */
  padding-top: 80px;
  padding-bottom: 30px;
}

#particles-js {
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50;
}

#description {
  font-size: 15;
  display: flex;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px;
}

#project-description {
  font-size: 15;
  display: block;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px;
}

#optionBar {
    font-size: 15;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

#drawLink {
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding-top: 300px;
}

td {
    padding: 16px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.large-font {
  font-size: 36px !important;
}

.fade {
  -webkit-animation: fade 1s;
}

.appear-up {
  -webkit-animation: appear-up 1s ease forwards;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes appear-up {
  20% {opacity: 0;transform: translateY(0.6em);}
  100% {opacity: 1; transform: translateY(0em);}
}

.flex-container {
  display: flex;
}

.flex-container :: after {
  content: '';
  width: 100%;
}

img.resize {
  width: 200px;
  height: 200px;
}

img.pad {
    padding-bottom: 30px;
}
