body {
  font-family: "Helvetica";
}

#header {
  font-size: 24px;
  display: flex;
  justify-content: center;
  height: 500px;
  padding-top: 230px;
  padding-bottom: 230px;
}

#particles-js {
  /*
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  */

    width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50;
}

#drawLink {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.large-font {
  font-size: 36px !important;
}

.fade {
  -webkit-animation: fade 1s;
}

.appear-up {
  -webkit-animation: appear-up 0.5s ease forwards;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes appear-up {
  20% {opacity: 0;transform: translateY(0.6em);}
  100% {opacity: 1; transform: translateY(0em);}
}
